<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>Tema 5 </title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid" color = "red" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="btn btn-info" ><a href="#Persoana">Persoana</a></li>
            <li class="btn btn-warning"><a href="#Produs">Produs</a></li>
            <li class="btn btn-danger"><a href="#Masina">Masina</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div>
      <h1>{{ helloWorld }}</h1>
      <p></p>
    </div>
  </div>

  <hr/>

  <!-- /resources1 -->
  <div class="container"  ng-controller="PersoanaController">
    <h1 id = "Persoana">Persoana</h1>
    <h2>Lista de persoane</h2>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Nume</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="persoana in persoane">
        <td>{{persoana.id}}</td>
        <td>{{persoana.name}}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary" ng-click="setUpdatePerson(persoana)">
              Edit      
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger" ng-click="deletePersoana(persoana.id)">    
              Remove              
              <span class="glyphicon glyphicon-remove"></span>
            </span
   
          </a>
        </td>
      </tr>
    </table>
      

       <div class="row">
      <div class="col-md-4">
        <h2>Editeaza o persoana</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
    
              <input type="text" class="form-control" ng-model="editPerson.id"  placeholder="ID">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
        
              <input type="text" class="form-control" ng-model="editPerson.name"  placeholder="Nume">
          </div>
          <button ng-click="updatePerson()" class="btn btn-info">Salveaza</button>
        </form>
      </div>
   

        

        
        

      <div class="col-md-4 col-md-offset-4">
        <h2>Adauga o persoana</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" ng-model="persoana.id"  placeholder="ID">
          </div>
          <div class="form-group">
            <label for="attribute2">Nume</label>
            <input type="text" class="form-control" ng-model="persoana.name" placeholder="Nume">
          </div>
          <button ng-click="addPersoana(personana)" class="btn btn-primary btn-xs">Adauga</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Persoana</h2>
      </div>
      <div class="col-md-2">
        <img src="http://www.ipedia.ro/o_stiri/274.jpg" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Ion</h1>
        <p>1</p>
      </div>
    </div>
  </div>

  <hr/>

      
      
      
  <!-- /resources2-->
  <div class="container" ng-controller="ProdusController">
    <h1 id = "Produs">Produs</h1>
    <h2>Lista produselor</h2>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Denumire</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="Produs in produse">
        <td>{{Produs.id}}</td>
        <td>{{Produs.name}}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary" ng-click="setUpdateProdus(Produs)">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger" ng-click="deleteProdus(Produs.id)">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-4 ">
        <h2>Editeaza un produsus</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text"  class="form-control" ng-model="editPro.id" placeholder="ID">
          </div>
          <div class="form-group">
            <label for="attribute2">Denumire</label>
            <input type="text" class="form-control" ng-model="editPro.name" placeholder="Denumire">
          </div>
          <button ng-click="updateProdus()" class="btn btn-info">Salveaza</button>
        </form>
      </div>


      <div class="col-md-4 col-md-offset-4">
        <h2>Adauga un produs</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" ng-model="Produs.id" placeholder="ID">
          </div>
          <div class="form-group">
            <label for="attribute2">Denumire</label>
            <input type="text" class="form-control" ng-model="Produs.name" placeholder="Denumire">
          </div>
          <button type="submit" class="btn btn-success">Adauga</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Produsul</h2>
      </div>
      <div class="col-md-2">
        <img src="http://www.carrefour-online.ro/-/media/Images/Products/5/4/4/N1_5942207003505.png?w=460&h=460&q=90&bc=white" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>AdriaCola</h1>
        <p>1</p>
      </div>
    </div>
  </div>

  <hr/>
    
    
    
    
    
    
 <div class="container" ng-controller="MasinaController">
    <h1 id = "Masina">Masina</h1>
    <h2>Lista masinilor</h2>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Marca</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="Masina in masini">
        <td>{{Masina.id}}</td>
        <td>{{Masina.name}}</td>
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-primary" ng-click="setUpdateMasina(Masina)">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </span>
          </a>
          <a href="">
            <span class="label label-danger" ng-click="deleteMasina(Masina.id)">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </a>
        </td>
    </table>

    <div class="row">
      <div class="col-md-4 ">
        <h2>Editeaza o masina</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" ng-model="editMa.id" placeholder="ID">
          </div>
          <div class="form-group">
            <label for="attribute2">Marca</label>
            <input type="text" class="form-control" ng-model="editMa.name" placeholder="Marca">
          </div>
          <button ng-click="addMasina(Masina)" class="btn btn-info">Salveaza</button>
        </form>
      </div>


      <div class="col-md-4 col-md-offset-4">
        <h2>Adauga o masina</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">ID</label>
            <input type="text" class="form-control" ng-model="Masina.id" placeholder="ID">
          </div>
          <div class="form-group">
            <label for="attribute2">Marca</label>
            <input type="text" class="form-control" ng-model="Masina.name" placeholder="Marca">
          </div>
          <button type="submit" class="btn btn-success">Adauga</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Produsul</h2>
      </div>
      <div class="col-md-2">
        <img src="http://www.toyota.com.au/static/images/toyota_icon.png" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Toyota</h1>
        <p>1</p>
      </div>
    </div>
  </div>

<hr/>    
    
  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Olteanu Ion Alexandru, 331AB</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
